body {
  background-color: #f8f8f8;
}

.topbar {
  justify-content: space-between;
  margin-left: 46px;
  height: 65px;
  width: inherit;
}
.font2 {
  font-size: 28px;
  font-weight: bold;
  font-family: sans-serif;
  align-self: center;
  display: inline;
}

.loginbtn {
  height: 30px;
  width: 130px;
  background-color: rgba(182, 6, 0, 0.6);
  border-radius: 10px;
  color: #ffffff;
  border: none;
}

.mainpage {
  background: #ffffff;
  margin-left: 30px;
  width: 90vw;
  height: 876px;
  max-height: 85vh;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.profileinfo {
  padding-top: 150px;
  margin-bottom: 20px;
}

.profilepic {
  width: 135px;
  height: 135px;
  background-image: url('../assets/images/profile_pic.jpg');
  background-size: 135px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  justify-self: center;
  display: inline-block;
}

.profileimage {
  border-radius: 10px;
}

.profilename {
  margin-top: 20px;
  font-size: 24px;
  line-height: 40px;
}

.inputarea {
  margin-bottom: 20px;
}

.inputblank {
  margin-bottom: 10px;
}

.inputbox {
  width: 200px;
}

.emailsendcheck {
  margin-bottom: 20px;
}

.checkbox {
  margin-right: 10px;
}

.editbtn {
  height: 40px;
  width: 130px;
  background-color: rgba(182, 6, 0, 0.6);
  border-radius: 10px;
  color: #ffffff;
  border: none;
  font-size: 20px;
}
